

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  background: #F3F3FA;
  font-size: 16px;
  font-family: var(--font-poppins), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
}
